@media screen and (min-width: 1101px) {
    body {
        font-family: Helvetica, sans-serif;
        background-color: #ffffff;
    }
    .contenedor-principal {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(8, auto);
        width: 100%;
    }
    // header - posicion del nav - en _nav.scss estan los estilos
    .header {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: auto;
    }
    // main - titulo boton - posicion y estilos desktop
    main {
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: auto;
    }
    .article-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 200px;
        padding-top: 100px;
    }
    .title-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .h1-hello {
        width: auto;
        height: auto;
        font-size: 64px;
    }
    .h1-world {
        text-decoration-line: line-through;
        width: auto;
        height: auto;
        margin-left: 10px;
        font-size: 64px;
    }
    .h1-pale {
        width: auto;
        height: auto;
        font-size: 64px;
        padding: 0px 0px 0px 10px;
    }
    .h1-dot {
        width: 10%;
        font-size: 64px;
        color: #0000EC;
    }
    .desc-main {
        width: 90%;
        margin-top: 10px;
    }
    .desc-main p {
        width: 628px;
        font-size: 18px;
    }
    .button-main {
        width: 90%;
        margin-top: 10px;
    }
    .button {
        background-color: #00F3BB;
        border: none;
        color: #060A24;
        padding: 15px 32px;
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        font-size: 18px;
        width: 226px;
        height: 56px;
    }
    .button:hover {
        background: rgb(0,0,254);
        background: linear-gradient(270deg, rgba(0,0,254,1) 0%, rgba(0,240,184,1) 100%);    border: none;
        color: #ffffff;
        padding: 15px 32px;
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        font-size: 18px;
        width: 226px;
        height: 56px;
    }
    // episodios - posicion y estilos desktop
    .episodios-container {
        grid-row-start: 3;
        grid-row-end: 4;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        background-image: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
        height: auto;
        width: 100%;
        padding: 30px 0px 250px 0px;
    }
    .episodios-titulo {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #ffffff;
        font-size: 36px;
        margin: 70px 10px 40px 10px;
        padding-top: 70px;
        padding-left: 200px;
    }
    .episodios-spotify {
        padding: 0px 20px 0px 20px;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 0px 100px 0px 100px;
    }
    iframe {
        width: 100%;
        height: 232px;
        border: 0px;
        background-color: transparent;
    }
    .episodios1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .episodios2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;        
    }
    .episodios3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .episodios4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    // dedonde - img telefono - posicion y estilos desktop
    .phone {
        height: auto;
        width: 400px;
    }
    .phone img {
        height: auto;
        width: 100%;
        transform: translateY(-160px);
    }
    .dedonde {
        grid-row-start: 4;
        grid-row-end: 5;
        transform: translateY(0px);
        width: 100%;
        height: auto;
        display: flex;
        padding-left: 200px;
    }
    .dedonde-texto {
        width: 400px;
        height: auto;
    }
    .dedonde-titulo {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 36px;
        width: 90%;
    }
    .dedonde-p1 {
        font-family: 'IBM Plex Mono', monospace;
        color: #060A24;
        font-size: 14px;
        width: 90%;
    }
    .dedonde-p2 {
        font-family: 'IBM Plex Mono', monospace;
        color: #060A24;
        font-size: 14px;
        width: 90%;
    }
    // invitados - posicion y estilos desktop
    .invitados {
        grid-row-start: 5;
        grid-row-end: 6;
        transform: translateY(0px);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .invitados-titulo {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 36px;
        padding-left: 200px;
    }
    .imagenes {
        margin-top: 20px;
        width: 100%;
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        align-self: center;
    }
    .imagenes-invitadas1 {
        max-width: 341px;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .imagenes-invitadas2 {
        max-width: 341px;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .imagenes-invitadas3 {
        max-width: 341px;
        height: auto;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .imagenes-invitadas4 {
        max-width: 341px;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .imagenes-invitadas5 {
        max-width: 341px;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .imagenes-invitadas6 {
        max-width: 341px;
        height: auto;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    // temas - posicion y estilos desktop
    .temas {
        grid-row-start: 6;
        grid-row-end: 7;
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .temas-titulo {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 36px;
        padding: 0px 20px 0px 200px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .icon1 {
        background: url(cesarpisera.github.io/assets/icon1.svg);
        display: block;
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
    }
    .icon2 {
        background: url(cesarpisera.github.io/assets/icon2.svg);
        display: block;
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
    }
    .icon3 {
        background: url(cesarpisera.github.io/assets/icon3.svg);
        display: block;
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
    }
    .icon4 {
        background: url(cesarpisera.github.io/assets/icon4.svg);
        display: block;
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
    }
    .icon1-p {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 24px;
        text-align: center;
        padding: 0px 20px 0px 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .icon2-p {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 24px;
        text-align: center;
        padding: 0px 20px 0px 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .icon3-p {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 24px;
        text-align: center;
        padding: 0px 20px 0px 20px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .icon4-p {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #060A24;
        font-size: 24px;
        text-align: center;
        padding: 0px 20px 0px 20px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    // novedades - posicion y estilos desktop
    .novedades {
        grid-row-start: 7;
        grid-row-end: 8;
        clip-path: polygon(0 20%, 100% 0, 100% 95%, 0% 100%);
        background-image: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
        width: 100%;
        height: auto;
        padding: 100px 0px 200px 0px;
    }
    .novedades-titulo {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #ffffff;
        font-size: 36px;
        margin: 50px 20px 0px 20px;
        text-align: center;
    }
    .novedades-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px 0px 0px;
    }
    .button2 {
        background-color: #00F3BB;
        border: none;
        color: #060A24;
        padding: 15px 32px;
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        font-size: 18px;
        margin-top: 20px;
    }
    .button2:hover {
        background: rgb(0,0,254);
        background: linear-gradient(270deg, rgba(0,0,254,1) 0%, rgba(0,240,184,1) 100%);
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        font-size: 18px;
        margin-top: 20px;
    }
    // footer - posicion y estilos desktop
    footer {
        grid-row-start: 8;
        grid-row-end: 9;
        transform: translateY(-60px);
        background: #ffffff;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        column-gap: 400px;
        padding: 0px 50px 0px 50px;
    }
    .footer-titulo {
        font-family: 'IBM Plex Mono', monospace;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .footer-iconos {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: space-between;
    }
    .spotify {
    text-decoration: none;
    color: black;
    }
    .instagram {
        text-decoration: none;
        color: black;
    }
    .twitter {
        text-decoration: none;
        color: black;
    }
    .facebook {
        text-decoration: none;
        color: black;
    }
    .telegram {
        text-decoration: none;
        color: black;
    }
        }
