.title-main {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 36px;
    font-weight: bold;
}
.desc-main {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
}